* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  padding: 30px 15px;
  font-size: 1rem;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

// Headings

h1 {
  margin: 0 0 .75rem 0;
  font-size: 3rem;
  font-weight: 500;

  @media (max-width: 700px) {
    font-size: 2rem;
  }
}

h2 {
  margin: 0 0 .75rem 0;
  font-size: 2rem;
  font-weight: 500;

  @media (max-width: 700px) {
    font-size: 1.5rem;
  }
}

h3 {
  margin: 0 0 .75rem 0;
  font-size: 1.5rem;
  font-weight: 500;

  @media (max-width: 700px) {
    font-size: 1.25rem;
  }
}

h4 {
  margin: 0 0 .75rem 0;
  font-size: 1.25rem;
  font-weight: 600;

  @media (max-width: 700px) {
    font-size: 1rem;
  }
}

// Links

a {
  color: #3F51B5;
  text-underline-offset: .25rem;

  &:hover {
    color: darkred;
  }
}

// Text

p {
  width: 100%;
  max-width: 64ch;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 0 .5rem 0;

  @media (max-width: 700px) {
    font-size: 1rem;
  }
}
